###################
# Files: Exclude
###################
$HOME/.config/coc/extensions/
**/.git
**/.svn
**/.hg
**/.DS_Store
**/Thumbs.db
**/.idea
**/.vscode
###################
# Search: Exclude
###################
**/node_modules
**/bower_components
###################
# Python files
**/.venv/
**/env/
**/__pycache__/
.pyc
static_collected/
# Temporary files
*.kate-swp
*.swp
*.swo
*~
tmp/
_tmp/
~$*
