[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlwings = "*"
pandas = "*"
numpy = "*"
psycopg = "*"
psycopg2-binary = "*"
import-ipynb = "*"
ipynb = "*"

[dev-packages]

[requires]
python_version = "3.10"
